body{
    background-color: aliceblue;
}
#header {
    background-color: darkgray;
    position: center;
    border: black 10px dashed;
}
.title-class{
    background-color: burlywood;
    font-style: italic;
}