body{
    background-image: linear-gradient(black, grey);
    text-align: center;
}

#pageHeaderDiv{
    text-align: center;
    margin: 10px;
    padding: 10px;
    background-color: grey;
    border: 1px red;
}

#loginFormDiv{
    background-color: grey;
    margin: 40px;
    padding: 20px;
    border: 10px solid black;
}